.parent{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .logoandtext{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
        }
        .logoandtext text{
            display: flex;
            flex-direction: column; 
                       
        }
        .text h1{
            margin: 0;           
        }
        .text h6{
            margin: 0;           
        }
        .logoandtext img{
            width: 60px;
            padding: 10px;
            
        }
        .menu img{
            width: 50px;
            padding: 10px;

        }
        header{
            box-shadow: 2px 2px 2px 2px grey;
        }
        